<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Dragon Zoo</title>

  <link rel="stylesheet" href="#">

</head>

<body>

  <section>
    <table>
      <tr>
        <th>Dragon Type</th>
        <th>Location</th>
      </tr>
      <tr>
        <td>Name</td>
        <td><select>
          <option>Castle</option>
          <option>Field</option>
          <option>Mpountain</option>
          <option>Barn</option>
        </select></td>
      </tr>
    </table>
  </section>

  <script src="js/scripts.js"></script>
</body>

</html>